{% extends 'main/index.html' %}
{% load static %}
{% block content %}
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{% static 'main/vas.JPG' %}" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Vasant Patil</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Software Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Karnataka IN, Remote</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>vasantp20@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>9449949433</p>
          <hr>

          

          <p class="w3-large w3-text-theme"><b>Skills</b></p>
          <p>Python</p>
          <p>Django</p>
          <p>OpenCV</p>

          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>iOS Developer | Infosys</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Two Years of experience developing mobile app for iOS. Involved in developing new features </p>
          
        </div>
        
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate  fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Personal Projects</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Sketch2Html</b></h5>
          
          <p>A Machine Learning Model which will detect the html objects in the sketch such as button and images. Based on the identifed objects
          the program will spit out HTML code.
          </p>
          <ul>
          <li>Langauge used: Python</li>
          <li>Library used: OpenCV</li>
          </ul>
          <hr>
          <h5 class="w3-opacity"><b>WatermarkWithPython</b></h5>
          
          <p>This is a program which will watermark all the pdf files in the given directory.
          </p>
          <ul>
          <li>Langauge used: Python</li>
          </ul>
          <hr>
          <h5 class="w3-opacity"><b>CareerPage</b></h5>
          
          <p>The site you are currently viewing is built using Django and hosted on <a style="color:blue" href="https://www.pythonanywhere.com/" target="_blank">PythonAnywhere.com</a>
          </p>
          <ul>
          <li>Langauge used: Python</li>
          <li>Framework used: Django</li>
          </ul>
        </div>
        
      </div>
      

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Basaveshwar Engineering College, Bagalkot</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2017</h6>
          <p>Bachelor Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Vidyaniketan PU Science College, Hubli</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2013</h6>
          <p>PCMS</p>

        </div>
        
      </div>
      


      

      

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  </div>
{% endblock %}