 * {
     margin: 0;
     padding: 0;
 }
 
 .wrapper {
    
    display: block;
    padding: 5px;
 }

 .side-nav-wrap {
     width: 300px;
 }

 .wrap-main-content {
     
     background-color: burlywood;
 }

img {
    width: 20%;
}
